<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PickUpLocation" value="Minsk National Airport"/>
    <add key="ReturnLocation" value="Minsk National Airport"/>
    <add key="PhoneNumber" value="123456789"/>
    <add key="UserName" value="33086490"/>
    <add key="Password" value="golubliza"/>
    <add key="InaccessibleStation" value="Madagaskar"/>
  </appSettings>
</configuration>